<!DOCTYPE html>
<html data-theme="light" lang="zh-CN">
{{template "layout/head.html" .}}
<header class="not-home-page" id="page-header">
    {{template "layout/nav.html" .}}
    <div id="page-site-info">
        <h1 id="site-title">{{ .title}}</h1>
    </div>
</header>
<body>
{{template "sidebar/sidebar.html"}}
<div class="page" id="body-wrap">
    <main class="layout" id="content-inner">
        <div class="recent-posts category_ui" id="archive">
            <div class="article-sort-title">文章总览 - {{ .cardInfo.Post}}</div>
            <div class="article-sort">
                {{range $i, $v := .archives.Archives}}
                <div class="article-sort-item year"> {{$i | archiveTime}}</div>
                {{range $pi, $posts := $v}}
                <div class="article-sort-item">
                    <a class="article-sort-item-img" href="/post/{{$posts.PostSlug}}" title="{{$posts.Title}}">
                        <img  alt="{{$posts.Title}}" src="{{$posts.CoverImage}}"> </a>
                    <div class="article-sort-item-info">
                        <div class="article-sort-item-time"><i class="far fa-calendar-alt"></i>
                            <time class="post-meta-date-created"
                                  title="发表于  {{$posts.PubTime | time}}"> {{$posts.PubTime | time}}
                            </time>
                        </div>
                        <a class="article-sort-item-title" href="/post/{{$posts.PostSlug}}" title="{{$posts.Title}}">
                            {{$posts.Title}}
                        </a>
                    </div>
                </div>
                {{end}}
                {{end}}
            </div>

            {{template "page/pagination.html" .}}
        </div>
        <div class="aside-content" id="aside-content">
            {{template "card-info.html" .}}
            {{template "card-announcement.html" .}}
            {{template "aside/sticky_layout.html" .}}
        </div>
    </main>
    {{template "layout/footer.html" .}}
</div>
{{template "layout/foot.html" .}}
</body>
</html>
