<!DOCTYPE html>
<html data-theme="light" lang="zh-CN">
{{template "layout/head.html" .}}
<body>
{{template "sidebar/sidebar.html" .}}
<div class="error404" id="body-wrap">
    <header class="not-top-img" id="page-header">
        {{template "layout/nav.html" .}}
    </header>
    <div id="error-wrap">
        <div class="error-content">
            <div class="error-img">
                <img alt="Page not found" src="https://i.loli.net/2020/05/19/aKOcLiyPl2JQdFD.png">
            </div>
            <div class="error-info">
                <h1 class="error_title">404</h1>
                <div class="error_subtitle">Page Not Found</div>
            </div>
        </div>
    </div>
</div>
{{template "layout/foot.html" .}}
</body>
</html>
