{{define "layout/nav.html"}}
<nav id="nav">
    <span id="blog_name"><a href="/" id="site-name">{{.site.Title}}</a></span>
    <div id="menus">
        <div id="search-button">
            <a class="site-page social-icon search">
                <i class="fas fa-search fa-fw"></i><span> 搜索</span>
            </a>
        </div>
        <div class="menus_items">
            <div class="menus_item">
                <a class="site-page" href="/">
                    <i class="fa-fw fas fa-home"></i><span> 首页</span>
                </a>
            </div>
            <div class="menus_item">
                <a class="site-page" href="/archives">
                    <i class="fa-fw fas fa-archive"></i><span> 归档</span>
                </a>
            </div>
            <div class="menus_item">
                <a class="site-page" href="/tags">
                    <i class="fa-fw fas fa-tags"></i><span> 标签</span>
                </a>
            </div>
            <div class="menus_item">
                <a class="site-page" href="/categories">
                    <i class="fa-fw fas fa-folder-open"></i><span> 分类</span>
                </a>
            </div>
            <div class="menus_item">
                <a class="site-page" href="/link">
                    <i class="fa-fw fas fa-link"></i><span> 友链</span>
                </a>
            </div>
            <div class="menus_item">
                <a class="site-page" href="/about">
                    <i class="fa-fw fas fa-heart"></i><span> 关于</span>
                </a>
            </div>
        </div>
        <div id="toggle-menu"><a class="site-page"><i class="fas fa-bars fa-fw"></i></a></div>
    </div>
</nav>
{{end}}