<!DOCTYPE html>
<html lang="zh-CN" data-theme="light">
{{template "layout/head.html" .}}
<header class="not-home-page" id="page-header">
    {{template "layout/nav.html" .}}
    <div id="page-site-info">
        <h1 id="site-title">{{ .title}}</h1>
    </div>
</header>
<body>
{{template "sidebar/sidebar.html"}}
<div class="page" id="body-wrap">
    <main class="layout" id="content-inner">
        <div id="page">
            <div class="tag-cloud-list is-center">
                {{range $i, $v := .tags}}
                <a href="/tags/{{ $v.TagName }}" style="{{$v.TagStyle | css}}">{{ $v.TagName }}</a>
                {{end}}
            </div>
        </div>
        <div class="aside-content" id="aside-content">
            {{template "card-info.html" .}}
            {{template "card-announcement.html" .}}
            {{template "aside/sticky_layout.html" .}}
        </div>
    </main>
    {{template "layout/footer.html" .}}
</div>
{{template "layout/foot.html" .}}
</body>
</html>
